/* ie 下的bug修复 ie7及一下版本 */

.cate-sub-list .slider-list li{
	_border-color:#fff;
}
.filter-box-type span{
	_line-height:0;
	font-size:0;
}
.filter-box-list{
	z-index:2;
}
.filter-box-list .box-list-ul{
	border:1px solid #eee;
}
.list-pro .pro-price{
	background:#ff5c3f;
}
.scenarized-shop-cate{
	border-bottom:1px solid #ccc;
}

/* 大屏幕 for ie  w1200 */
.w1200 .shop-cate-sub,
.w1200 .shop-col-title,
.w1200 .shop-col-filter,
.w1200 .shop-col-list,
.w1200 .shop-col-list .shop-col-slider{
	width:1200px;
}
.w1200 .cate-sub-list{
	width:975px;
}
.w1200 .sub-list-slider{
	width:975px;
}
.w1200 .shop-footer-content{
	width:1160px;
}
.w1200 .footer-content-wrap{
	width:1190px;
}
.w1200 .shop-col-slider  .slider-list .list-pro{
	margin-right:22px;
}
.w1200 .shop-col-list .slider-left{
	left:-10px;
}
.w1200 .shop-col-list .slider-right{
	right:-10px;
}	

.w1200 .footer-content-wrap{
	width:1190px;
}
.w1200 .footer-content-cate{
	margin-right:33px;
}